html
  padding: 0
  margin: 0

body
  font-family: sans-serif
  background-color: black
  padding: 0
  margin: 0

#notice
  position: fixed
  top: 0
  background-color: white
  padding: 5px
  opacity: 0
  transition: opacity 700ms
  width: 100%
  text-align: center
  z-index: 1
  box-shadow: 5px 5px 5px 5px #000

  &.shown
    opacity: 1

.cropFrame
  overflow: hidden
  position: relative
  display: inline-block

.cropImage
  position: absolute
  top: 0
  left: 0
  cursor: move
  max-width: none

#matte
  width:  4200px
  height: 3250px
  padding: 0
  margin: 0
  position: relative
  background-color: black
  zoom: 25.2%

  & > div
    margin: 0
    padding: 0
    background-color: #444
    position: absolute
    cursor: pointer

    &:hover
      background-color: #666

    body.deleting &:hover
      background-color: #444
      cursor: default
      img
        opacity: 0.3
        cursor: not-allowed

input[type=file]
  display: none

#delete
  &:before
    content: "Delete"
  body.deleting &:before
    content: "Cancel"

#template
  display: none

div > textarea
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 325px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  border-style: none;
  resize: none;
  font-size: 54pt;
  font-weight: bold;
  outline-style: none;
  text-align: center;
  color: white;
  text-shadow: 0 0 30px #000,
               0 0 60px rgba(0,0,0,0.9),
               0 0 100px rgba(0,0,0,0.8);